/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
.heading {
  text-align: center;
  width: 250px;
  margin:  auto;
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
}

.colorBox {
  margin-top: 450px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: powderblue;
}

.colorBox button {
  margin-left: 50px;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 15px;
  cursor: pointer;
}